@media (max-width: 900px) {



    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        gap: 10px;
    }

    .blogs-news-img-container {
        grid-row: 2;
    }

    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }

    .blogs-posts-container .post-container {
        max-width: 48%;
    }

    .perfil-main {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .perfil-main-container img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .perfil-body-container {
        grid-template-columns: 1fr 1fr;

    }

    .contact-main-container {
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
    }

    .contact-main-container img {
        width: 70px;
    }

    .contact-left-container,
    .contact-right-container {
        display: flex;
        width: 80%;
        gap: 20px;
    }

    .contact-left a,
    .contact-right a {
        border-bottom: 1px solid white;
    }

    .contact-left p,
    .contact-right p {
        margin-top: 20px;
    }

    header .header-icons-container .icons {
        width: 240px;
        margin: 0 auto;
    }

    nav .nav-logo-container img {
        width: 180px;
        margin-top: 10px;
    }

    nav .nav-logo-container {
        margin-left: 20px;
    }


}

@media (max-width: 650px) {
    .home-main-text {
        font-size: 3rem;
        letter-spacing: 8px;
        top: 220px;
    }

    .home-main-btn {
        width: 120px;
        height: 40px;
        margin-top: 140px;
        font-size: 1.6rem;
        color: white;
        font-weight: 700;
        font-family: 'Roboto Mono', monospace;
        text-align: center;
        padding: 8px;
    }
}

@media (max-width: 600px) {
    .blogs-posts-container .post-container {
        max-width: 95%;
    }

    .perfil-body-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: start;
        margin-top: 40px;
    }
}